.menu-dropdown {
    width: 10rem;
    height: 1.8rem;
    font-size: 1.5rem;
    background-color: aqua;
    color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 2px 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
 }
 .dropdown-list {
    display: none;
    z-index: 10;
    background-color: green;
    color: pink;
    font-size: 1.2rem;
    width: 10.5rem;
    border-radius: 10px;
    margin-top: 0rem;
    cursor: pointer;
 }
 .dropdown-list p {
    padding: 3px 10px;
 }
 .dropdown-list p:hover {
    background-color: blue;
 }